<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6d22d069-acc2-49a4-8a87-ff533386b647" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6d22d069-acc2-49a4-8a87-ff533386b647fileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="1649efa3-0775-4f9d-b08c-a77d5f14e13a">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="f23c3f8e-5ce0-4db9-8010-f24226d62368">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="c2321ade-990a-483c-8ab3-0dacddfe3840">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
